<nav-direct></nav-direct>
<div class='page-header col s12'></div>
<main class="career-main-wrapper">
  <div class="go-back">
    <a ui-sref='careers'>
      <i class='fa fa-lg fa-arrow-left' /><span>Back to Careers</span>
    </a>
  </div>
  <div class='career-data-wrapper'>

    <div class='career-header'>
      <h4>Ericsson Integration & Installation Field Engineer</h4>
      <h5>EFI Integration Technician (Engineer, Furnish and Install)</h5>
    </div>

    <div class='career-info'>
      <div class="career-info-section">
        <h6>Introduction:</h6>
        <p class='responsibilities-list'>
          Volks Resources is currently looking for an EF&I Integration Technician
          Nationwide This role requires site integration, training of in-house integrators.
          Qualified candidates preferred to have Ericsson EF&I Certification, 3 plus
          years of experience with integration work, antenna & line experience very helpful.
        </p>
      </div>
      <div class="career-info-section">
        <h6>Responsibilities:</h6>
        <h6>
          As part of site Commissioning and Integration of UMTS and LTE base
          stations, carriers require the following skills and experience:
        </h6>
        <ul class="responsibilities-list">
          <li>Receive assignments and deploy to cell site locations to install, commission and integrate Ericsson UMTS & LTE equipment.</li>
          <li>New Site Builds (NSB), Carrier Ads as well as Indoor systems including all necessary elements; installation, integration, testing, transport, alarm, power, ground, SIAD, functional and E911 call testing.</li>
          <li>Using laptop and specialized software, load software and scripts in order to perform configuration as directed by Remote Integration Center.</li>
          <li>May be required to provide support to troubleshoot system upon request of the Remote Integration Center.</li>
          <li>Responsible to pick-up OEM equipment from customer or company warehouse location and care for, scan and report on equipment disposition.</li>
          <li>Complete and deliver site completion report within deadline.</li>
          <li>Complete and deliver site completion report within deadline.</li>
          <li>Commissioning and integration of Smart Integrated Access Devices (SIAD) and Optical Baseband Interfaces (OBIF).</li>
          <li>Experience with testing fiber and Coax such as sweep testing, OTDR and PIM testing.</li>
          <li>Commissioning and integration of Cell Site Routers and Switches (Cisco, ALU, Ericsson).</li>
          <li>Troubleshoot issues from the edge to the core of a network.</li>
          <li>Ability to read, identify and change site configurations according to plans or drawings.</li>
          <li>Upgrade BTS equipment to current Software levels and Install licenses, create and load scripts using BTS management software.</li>
          <li>Provide support to switch and field technicians during installation and integration.</li>
          <li>Assist in the development of MOP’s and procedures for commissioning, integrating and testing.</li>
          <li>Perform E911 and Acceptance call testing and alarm clearing</li>
          <li>Perform Parameter Audit.</li>
          <li>Works aggressively on multiple job tasks to help meet timelines.</li>
          <li> Ability to thoroughly document, report and communicate processes, procedures, and results.</li>
          <li>Preparing Close Out Packages (COP)</li>
          <li>Produce a punch list and coordinate completion of punch list items.</li>
        </ul>
      </div>
      <div class="career-info-section">
        <h6>Experience:</h6>
        <ul class='responsibilities-list'>
          <li>1 – 3 years LTE & UMTS integration experience required.</li>
          <li>Knowledgeable in cabling (RF, Electrical CAT5/6, T1 Copper, Fiber) and other advanced technologies.</li>
          <li>Operating Telecommunications Test Equipment</li>
          <li>Test & Turn-up Experience preferred</li>
        </ul>
      </div>
      <div class="career-info-section">
        <h6>Equipment:</h6>
        <ul class='responsibilities-list'>
          <li>RRUS11, DUW on RBS3000, Ericsson RNC3810 & RNC3820, Ericsson RBS3000 series, RBS6000 Series including LTE 6601.</li>
        </ul>
      </div>
      <div class="career-info-section">
        <h6>Training:</h6>
        <span>Certification Requirements:</span>
        <ul class="responsibilities-list">
          <li>RT2 Certified (Radio Technician 2)</li>
          <li>BIT (Basic Installation Technique)</li>
          <li>LTE Commissioning</li>
          <li>DUL to DUS</li>
          <li>BB5216</li>
          <li>XMU</li>
          <li>EAMS</li>
          <li>SRS call testing</li>
          <li>Smart Laptop Integration</li>
        </ul>
      </div>
        <h6>Send resumes to HR@volksresources.com</h6>
    </div>
  </div>
</main>
