<nav-direct></nav-direct>
<div class='page-header col s12'></div>
<main class="career-main-wrapper">
  <div class="go-back">
    <a ui-sref='careers' class='back-to-careers-link'>
      <i class='fa fa-lg fa-arrow-left' /><span>Back to Careers</span>
    </a>
  </div>
  <div class='career-data-wrapper'>

    <div class='career-header'>
      <h4>NOKIA  Integration & Installation Field Engineer</h4>
      <h5>EFI Integration Technician (Engineer, Furnish and Install)</h5>
    </div>

    <div class='career-info'>
      <div class="career-info-section">
        <h6>Nokia Ground Installers and Integrators are required for different locations, for long-term projects.</h6>
      </div>
      <div class="career-info-section">
        <h6>Responsibilities:</h6>
        <ul class="responsibilities-list">
          <li>Must have experience with Nokia BTS manager.</li>
          <li>Experience with NSN Multi-Flexi System modules and radios a must, with commissioning & Integration of UMTS, GSM & LTE radio technologies</li>
          <li>Theory and application related to project management, radio access networks, backhaul to sites signaling, disaster recovery planning and response, data services and location-based services.</li>
          <li>Experience and understanding of theory and application related to network design, capacity planning, power systems AC/DC, and grounding.</li>
          <li>Must have at least 4 years of Nokia BTS integration experience.</li>
          <li>Must be able to complete ALL documents associated with the Integrations. Be able to complete Installations and schedule the integrations on a daily basis and plan the route most effectively.</li>
          <li>Must submit Integrations reports daily. Experience with Microsoft Excel, Word, PowerPoint is mandatory.</li>
          <li>Prior Nokia Radio and System Module equipment installation</li>
          <li>Installation of FCOA /Purcell cabinets</li>
          <li>Installation, commissioning Troubleshooting of RBS Nokia Flexi LTE (FDD TDD) (CBU / DUL, OBIF, RAX y TX) (FRIE, FRIG, FXFC, FSFB, FSME, FSMF, ESMB)</li>
          <li>RF Color Coding and Labeling</li>
          <li>PTID</li>
          <li> Upgrade BTS equipment to current Software levels and Install licenses, create and load scripts using BTS management software.</li>
          <li>Provide support to switch and field technicians during installation and integration.</li>
          <li>Assist in the development of MOP’s and procedures for commissioning, integrating and testing.</li>
          <li>Perform E911 and Acceptance call testing and alarm clearing.</li>
          <li>Works aggressively on multiple job tasks to help meet timelines.</li>
          <li>Ability to thoroughly document, report and communicate processes, procedures, and results.</li>
          <li>Preparing Close Out Packages (COP)</li>
        </ul>
      </div>
        <h6>Send resumes to HR@volksresources.com</h6>
    </div>
  </div>
</main>
