<nav-direct></nav-direct>
<header class='page-header'></header>
<div class='row'>
  <h1 class='solutions-header center-align'>About Volks Resources</h1>
  <h5 class='col s10 offset-s1 center-align'>
    Volks Resources is dedicated to providing superior services for our clients
    while preserving uncompromising integrity in all dealings. Our ongoing success
    is dependent upon skill, intensity, commitment and spirit of all Our Mission
</h5>
<div class='about-list-wrapper'>
<h3 class='center-align about-list-header'><em>What Makes Volks Resources Different</em></h3>
<ul class='col s8 offset-s2 center-align'>
  <li class='about-list-item'><i class="tiny material-icons check-icon">check</i>Quality of Our Recruiters and Project Management Experience</li>
  <li class='about-list-item'><i class="tiny material-icons check-icon">check</i>Innovation in the Marketplace</li>
  <li class='about-list-item'><i class="tiny material-icons check-icon">check</i>Commitment to Service and Follow Up</li>
  <li class='about-list-item'><i class="tiny material-icons check-icon">check</i>Attention to Details-Drive to Build Relationships.</li>
  <li class='about-list-item'>
      <i class="tiny material-icons check-icon">check</i>
     Our goals are for our Clients to Work in Close Connection with the Volks
     Resources Recruiting Team, Letting us efficiently and Cost Effectively
     Place the Highest Quality Candidates.
   </li>
</ul>
</div>
</div>
