<nav-direct></nav-direct>
<div class='page-header col s12'></div>
<main class='careers-main'>

  <h1>Open Positions</h1>

  <div class='career-list-wrapper'>

    <div class='job'>
      <h5>Ericsson Integration & Installation Field Engineer</h5>
      <h6>EFI Integration Technician (Engineer, Furnish and Install)</h6>
    </div>

    <div class='job'>
      <h5>NOKIA Integration & Installation Field Engineer</h5>
      <h6>EFI Integration Technician (Engineer, Furnish and Install)</h6>
    </div>
  </div>

</main>
