<footer class="page-footer #607d8b blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Logo</h5>
        <p class="grey-text text-lighten-4">Please email us your questions at</p>
        <p class="grey-text text-lighten-4">Info@volksresources.com</p>
        <p class="grey-text text-lighten-4">https://www.volksresources.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Areas of Work</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="grey-text text-lighten-4 right">Designed and Developed by <a href="http://huntersharrison.com">Harrison</a> & Vaughan</p>
    </div>
  </div>
</footer>
