<footer class="page-footer">
  <div class='footer-wrapper'>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img class='logo-2' src='../images/volks_logo.png'  />
        <p class="grey-text text-lighten-4">Please email us your questions at</p>
        <p class="grey-text text-lighten-4">Info@volksresources.com</p>
        <p class="grey-text text-lighten-4">https://www.volksresources.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">About Us</a></li>
          <li><a class="grey-text text-lighten-3" ui-sref='managedservices'>Managed Services</a></li>
          <li><a class="grey-text text-lighten-3" ui-sref='projectsolutions'>Solutions</a></li>
          <li><a class="grey-text text-lighten-3">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="grey-text text-lighten-4 right">Designed and Developed by <a class='porfolio-link' href="http://huntersharrison.com">Harrison</a> & Vaughan</p>
    </div>
  </div>
  </div>
</footer>
