<nav-direct></nav-direct>
<div class='page-header col s12'>

</div>
<h1 class='center-align services-header'>Contact Us</h1>
<h5 class='center-align services-subhead grey-text text-darken-1'>
  Please email us your questions at

·         Info@volksresources.com
</h5>
<div class='global-offices'>
  <h2 class='global-header'>Global Offices:</h2>
</div>
<div class='locations'>
  <div class='location houston'>
    <div class='address'>
      <h5>Houston</h5>
      <h6>11200 Westheimer Road, Suite 760</h6>
      <h6>Houston, Texas 77042</h6>
      <h6>972-636-1880</h6>
    </div>
  </div>
  <div class='location dubai'>
    <div class='address'>
      <h5>Dubai</h5>
      <h6>PB 121551 SAIF Zone Sharjah</h6>
      <h6>United Arab Emirates</h6>
      <h6>971-50-655-5073</h6>
    </div>
  </div>
</div>
