<nav-dir></nav-dir>
<div class='header'>
  <div class='header-bkgrd'>
    <div class='header-large'>
      <h2>Driven by Details</h2>
      <h2>Built by Relationships</h2>
    </div>
    <p class='header-p'>
      At Volks Resources, our services are designed to deliver any project or staffing needs your company might face. With our experience in the industry, we understand the phases of the projects our clients are working on. As a result, Volks Resources can deliver staff & services
      for each phase in the life cycle of your projects. All of our services are custom-tailored to best fit the needs of your business.
    </p>
    <a href='#about'>
      <img class='down-arrow' src='images/chevrons-down.svg' />
    </a>
  </div>
</div>
<a id='about' ></a>
<div class='about'>
  <div class='about-wrapper'>
    <div class='about-point'>
      <img class='about-icon' src='images/idea.svg' />
      <h6>
        Stay ahead in this fast moving world of competition.
        Bring your staffing needs to Volks Resources.
      </h6>
    </div>
    <div class='about-point'>
      <img class='about-icon' src='images/planet-earth.svg' />
      <h6>
        Volk Resource's top-rated team of global personell
        is ready to serve you with custom tailored service.
      </h6>
    </div>
    <div class='about-point no-border'>
      <img class='about-icon' src='images/power-button.svg' />
      <h6>
        Volks Resources is dedicated to providing superior
        services for our clients while preserving
        integrity in all dealings.
      </h6>
    </div>
  </div>
</div>
<div class='industries'>
  <h2>FEATURED SOLUTIONS</h2>
  <div class='row valign-wrapper featured-solutions-wrapper'>
    <div class='valign-wrapper z-depth-3 industry-solution col s3 offset-s1 center-align'>
      <h5 class='center-align'>Staffing</h5>
    </div>
    <div class='valign-wrapper z-depth-3 industry-solution col s3 offset-s1 center-align'>
      <h5 class='center-align'>Project Solutions</h5>
    </div>
    <div class='valign-wrapper z-depth-3 industry-solution col s3 offset-s1 center-align'>
      <h5 class='center-align'>Careers</h5>
    </div>
  </div>
</div>
<div class='locations'>
  <div class='location plano'>
    <div scroll-fire="toast('Past scoll-fire', 2000)" class='address'>
      <h5>Dallas</h5>
      <h6>4512 Legacy Drive, Suite 100</h6>
      <h6>Plano, TX 75024</h6>
      <h6>469-296-4990</h6>
    </div>
  </div>
  <div class='location houston'>
    <div class='address'>
      <h5>Houston</h5>
      <h6>11200 Westheimer Road, Suite 760</h6>
      <h6>Houston, Texas 77042</h6>
      <h6>469-296-4990</h6>
    </div>
  </div>
  <div class='location dubai'>
    <div class='address'>
      <h5>Dubai</h5>
      <h6>PB 121551 SAIF Zone Sharjah</h6>
      <h6>United Arab Emirates</h6>
      <h6>971-50-655-5073</h6>
    </div>
  </div>
  <div class='location peru'>
    <div class='address'>
      <h5>Peru</h5>
      <h6>Calle Tinajones 181 Of 902 Urb. Chacarilla</h6>
      <h6>Santiago de Surco, Lima – Perú</h6>
      <h6>011 511-217-5900</h6>
    </div>
  </div>
</div>
