<nav-dir></nav-dir>
<div class='header'>
  <div class='header-bkgrd'>
    <div class='header-large'>
      <h2>Driven by Details</h2>
      <h2>Built by Relationships</h2>
    </div>
    <h6 class='center-align header-p'>
      At Volks Resources, our services are designed to deliver any project or staffing needs your company might face. With our experience in the industry, we understand the phases of the projects our clients are working on. As a result, Volks Resources can deliver staff & services
      for each phase in the life cycle of your projects. All of our services are custom-tailored to best fit the needs of your business.
    </h6>
    <a href='#about-icons'>
      <img class='down-arrow' src='images/chevrons-down.svg' />
    </a>
  </div>
</div>
<a id='about-icons'></a>
<div class='about'>
  <div class='about-wrapper'>
    <div class='about-point'>
      <img class='about-icon' src='images/light-bulb (2).svg' />
      <h6>
        Stay ahead in this fast moving world of competition.
        Bring your staffing needs to Volks Resources.
      </h6>
    </div>
    <div class='about-point'>
      <img class='about-icon earth-icon' src='images/earth.svg' />
      <h6>
        Volk Resource's top-rated team of global personell
        is ready to serve you with custom tailored service.
      </h6>
    </div>
    <div class='about-point no-border'>
      <img class='about-icon' src='images/power-button-burg.svg' />
      <h6>
        Volks Resources is dedicated to providing superior
        services for our clients while preserving
        integrity in all dealings.
      </h6>
    </div>
  </div>
</div>
<div class='industries'>
    <div ui-sref='staffing' class='waves-effect waves-light btn valign-wrapper z-depth-3 industry-solution'>
      <h5 class='center-align'>Consulting</h5>
    </div>
    <div ui-sref='solutions' class='waves-effect waves-light btn valign-wrapper z-depth-3 industry-solution'>
      <h5 class='center-align'>Project Solutions</h5>
    </div>
    <div class='waves-effect waves-light btn valign-wrapper z-depth-3 industry-solution'>
      <h5 class='center-align'>Careers</h5>
    </div>
</div>
