<nav-direct></nav-direct>
<header class='page-header'></header>
<div class='row'>
<div class='col s10 offset-s1'>
<h1 class='services-header center-align'>Our Mission</h1>
<h5 class='mission-statement'>
  Volks Resources is a Company that builds value by discovering, developing and
  delivering the best people in the workforce and through its employees by
  creating an atmosphere of optimism, teamwork, creativity, resourcefulness and
  the best leading global innovation with the highest ethical and professional
  standards. Volks Resources recognize that our people are key to success.
</h5>
<h3>Core Values</h3>
<ul class="collapsible col s8 offset-s2" data-collapsible="accordion">
   <li>
     <div class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i>Honesty</div>
     <div class="collapsible-body"><span><h5>Ethics will guide our behavior and decisions.</h5></span></div>
   </li>
   <li>
     <div class="collapsible-header"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>Integrity</div>
     <div class="collapsible-body"><span><h5>We are committed to integrity in all that we do, Always, Everywhere.</h5></span></div>
   </li>
   <li>
     <div class="collapsible-header"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Commitment</div>
     <div class="collapsible-body"><span><h5> We value the commitment by delivery professional service with the best interest of our clients and candidates.</h5></span></div>
   </li>
   <li>
     <div class="collapsible-header"><i class="fa fa-handshake-o" aria-hidden="true"></i>Professionalism</div>
     <div class="collapsible-body"><span><h5>We are determined to deliver outstanding quality in all our relationships.</h5></span></div>
   </li>
 </ul>
</div>
</div>
