<nav class='transparent'>
  <div class="nav-wrapper">
    <div class='left social-container'>
      <a href="https://twitter.com/volksresources" class='social-link'><img class='twitter' src='../images/twitter_logo.png'/></a>
      <a href="https://www.linkedin.com/company-beta/5220304/" class='social-link'><img class='linkedin' src='../images/linkedin_logo.png'/></a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class='waves-effect'>
        <a class="dropdown1" ui-sref='home'>Home</a>
      </li>
      <li class='waves-effect'>
        <a class="dropdown1" ui-sref='managedservices'>Managed Services</a>
      </li>
      <li class='waves-effect'>
        <a ui-sref='telecom'>Telecommunications</a>
      </li>
      <li class='waves-effect'>
        <a ui-sref='it'>Information Technology</a>
      </li>
      <li class='waves-effect'>
        <a ui-sref='oilandgas'>Oil & Gas</a>
      </li>
      <li class='waves-effect'><a ui-sref='projectsolutions'>Solutions</a></li>
    </ul>
  </div>
</nav>
