<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class='logo-2' src='../images/volks_logo.png'  /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class='waves-effect'>
        <a class="dropdown1" ui-sref='managedservices'>Managed Services</a>
      </li>
      <li class='waves-effect'>
        <a ui-sref='telecom'>Telecommunications</a>
      </li>
      <li class='waves-effect'>
        <a ui-sref='it'>Information Technology</a>
      </li>
      <li class='waves-effect'>
        <a ui-sref='oilandgas'>Oil & Gas</a>
      </li>
      <li class='waves-effect'><a ui-sref='projectsolutions'>Solutions</a></li>
    </ul>
  </div>
</nav>
