<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class='logo' src='../images/volks_logo.png' / /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class='waves-effect'><a href="#">About</a></li>
      <li class='waves-effect'>
        <a class="dropdown1" ui-sref='managedservices' href='javascript:void(0);'>Managed Services</a>
      </li>
      <li class='waves-effect'><a ui-sref='projectsolutions'>Solutions</a></li>
    </ul>
  </div>
</nav>
