<nav-direct></nav-direct>
<header class='page-header'></header>
<div class='row'>
  <h1 class='services-header center-align'>Project Solutions</h1>
  <h5 class='center-align staffing-p col s10 offset-s1'>
    Volks Resources have established relationships with key industry resources by
    implementing grassroots recruiting campaigns, facilitating relocation needs and
    owning best-in-class processes for large-scale recruiting, implementation and
    management.
  </h5>
  <div class='col l4 s12 offset-l1 project-solutions-paragraph'>
    <p>
    When you work with Volks Resources you’ll have a dedicated team of individuals
    working on your projects. Your Volks Resources team will understand the kind
    of resources you need for each project, and will deliver the right people in
    a timely manner.
  </p>
  <p>
    Our innovative solutions and professional services are custom-tailored to
    best fit the needs of your business. Volks Resources Provides business
    solutions and technology both inside and outside of the staffing industry,
    our services are designed to address and support any hiring scenario.
  </p>
  </div>
  <img class='col l6 s12' src='../images/Technology.jpg' />
</div>
