<nav-dir></nav-dir>
<div class='page-header col s12'>

</div>
<div class='row'>
  <div class='col s10 offset-s1'>
    <h1 class='center-align services-header'>Managed Services</h1>
    <h5 class='center-align services-subhead grey-text text-darken-1'>
      Managed Services is no longer simply an outsourcing model where you can save.
    </h5>
    <p class='services-paragraph'>
      We Offer support services to organizations with dedicated consulting and managed services helping improve productivity
      Our Managed Services enhances the ability to meet their consumers’ expectations by assuring performance, capacity and coverage of services.
    </p>
    <p class='services-paragraph' id='services-final'>
      When your needs are more than your in-house staff can or should handle, let us help with our solutions.
      We’ll support your workforce quickly and efficiently.
    </p>
    <h5>
      We Offer Managed Services in:
    </h5>
    <div class="row">
      <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
          <li class="tab col s3"><a class="active" href="#test1">Telecom</a></li>
          <li class="tab col s3"><a  href="#test2">IT</a></li>
          <li class="tab col s3"><a  href="#test5">Oil & Gas</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12 grey lighten-4 services-tab">
        <div class='services-tab-wrapper'>
          <h4 class='center-align'>Telecom</h4>
          <h6>
            Volks Resources supports the Telecom industry, we are innovating
            the way we are placing qualified technical personnel on customer
            nationwide projects. We understand the differences in each different
            technology and client requirement.
          </h6>
          <button ui-sref='telecom' class="btn waves-effect waves-light see-more #800020" type="submit" name="action">Learn More
            <i class="material-icons right">arrow_forward</i>
          </button>
        </div>
      </div>
      <div id="test2" class="col s12 grey lighten-4 services-tab">
        <div class='services-tab-wrapper'>
          <h4 class='center-align'>IT</h4>
          <h6>
            Volks Resources has deployed thousands of IT engineers, our
            professional recruiters are highly experienced at identifying and
            placing world-class information technology candidates
            Our staffing solutions will help your company with hiring strategies.
          </h6>
          <button ui-sref='it' class="btn waves-effect waves-light see-more" type="submit" name="action">Learn More
            <i class="material-icons right">arrow_forward</i>
          </button>
        </div>
      </div>
      <div id="test5" class="col s12 grey lighten-4 services-tab">
          <div class='services-tab-wrapper'>
            <h4 class='center-align'>Oil & Gas</h4>
            <h6>
              As one of the most trusted recruitment solution providers,
              we provide the experience, resources, technology and expertise
              necessary to secure the very best available personnel.
              That is why we are first choice for clients looking for trustworthy
              solutions to their projects.
            </h6>
            <button ui-sref='oilandgas' class="btn waves-effect waves-light see-more" type="submit" name="action">Learn More
              <i class="material-icons right">arrow_forward</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
