<div class='row'>
  <div class='col s10 offset-s1'>
    <h1 class='center-align'>Managed Services</h1>
    <h5 class='center-align services-subhead'>
      Managed Services is no longer simply an outsourcing model where you can save.
    </h5>
    <p class='services-paragraph'>
      We Offer support services to organizations with dedicated consulting and managed services helping improve productivity
      Our Managed Services enhances the ability to meet their consumers’ expectations by assuring performance, capacity and coverage of services.
    </p>
    <p class='services-paragraph' id='services-final'>
      When your needs are more than your in-house staff can or should handle, let us help with our solutions.
      We’ll support your workforce quickly and efficient.
    </p>
    <p class='services-offer'>
      We Offer Managed Services in:
    </p>
    <div class="row" >
      <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
          <li class="tab col s3"><a href="#test1">Telecom</a></li>
          <li class="tab col s3"><a class="active" href="#test2">IT</a></li>
          <li class="tab col s3"><a href="#test3">Cybersecurity</a></li>
          <li class="tab col s3"><a href="#test4">Big Data</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <h4 class='center-align'>Telecom</h4>
      </div>
      <div id="test2" class="col s12">
        <h4 class='center-align'>IT</h4>
      </div>
      <div id="test3" class="col s12">
        <h4 class='center-align'>Cybersecurity</h4>
      </div>
      <div id="test4" class="col s12">
        <div class='services-tab-header col s12' id='big-data'>
          <h4 class='center-align'>Big Data</h4>
        </div>

      </div>
    </div>
  </div>
</div>
