<nav-direct></nav-direct>
<div class='page-header col s12'>

</div>
<div class='row'>
  <h1 class="center-align solutions-header" >Solutions</h1>
  <h5 class="center-align solutions-subhead">EF&I Services is what we sell, but it’s our <em>people</em> that deliver it</h5>
  <!-- <h5 class='center-align' blink-cursor='false' typewrite type-delay="100" text="['EF&I Services is what we sell']"></h5>
  <h5 class='center-align' typewrite type-delay='100' initial-delay='4000' text="['but it is our people that deliver it.']"></h5> -->
  <!-- <ul class="collapsible popout col s12 l6" data-collapsible="accordion" watch>
      <li ng-repeat="single in collapsibleElements">
          <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
          <div class="collapsible-body"><p ng-repeat='content in single.content'>{{content}}</p></div>
      </li>
  </ul>
  <div class="parallax-container col s12">
    <div parallax><img src="images/parallax1.jpg"></div>
</div> -->

    <div class='card-panel col s8 m8 l4 offset-l1 offset-m2 offset-s2 solution grey lighten-4'>
        <div class='solution-image-wrapper'>
          <img class='solution-image' src='../images/antenna.svg' />
        </div>
        <div class='solution-text-wrapper'>
          <h5 class='solution-heading'>Installation, commission, integration and full EF&I</h5>
          <li>Ran Networks</li>
          <li>Microwave</li>
          <li>DAS- Small Cells</li>
        </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l2 m4 offset-m2 offset-s2 solution grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' id='network-connection' src='../images/network-connection (3).svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Site Acquisition, Zoning and Permitting</h5>
        <li>Lease reviews</li>
        <li>New Site Build</li>
        <li>Colocations</li>
        <li>Modifications</li>
      </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l1 m4 offset-m2 offset-s2 solution grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' src='../images/tiles (1).svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Construction and Installation Services</h5>
        <li>Civil work</li>
        <li>Electrical, to include AC and DC</li>
        <li>RAN Networks</li>
        <li>GSM, UMTS, HSPA, LTE</li>
        <li>Generators</li>
        <li>Microwave</li>
      </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l2 m4 offset-m2 offset-s2 solution  grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' src='../images/engineering.svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Engineering and Design Services</h5>
        <li>Backhaul/circuit provisioning</li>
        <li>Feasibility studies</li>
        <li>Needs assessments</li>
        <li>Indoor and outdoor DAS, repeater unit</li>
      </div>
    </div>
</div>
