<nav-direct></nav-direct>
<div class='page-header col s12'>

</div>
<div class='row'>
  <h1 class="center-align solutions-header" >Solutions</h1>
  <h5 class="center-align solutions-subhead">EF&I Services is what we sell, but it’s our <em>people</em> that deliver it</h5>
    <img class='col s10 offset-s1 solutions-image' src='../images/volks_solutions.jpg' />
    <p class='col s8 offset-s2 solutions-text'>
      As wireline and wireless partner Volks Resources has the expertise in all aspects of wireless design, deployment and optimization related services.
Our capabilities enable us to partner with our customers to simplify complex networks delivery and offer best customer experience.
We provides manpower to the telecommunications industry with design, engineering, and implementation solutions.
Our services encompass the entire spectrum of planning, building and operations of networks across Small Cells, Wi-Fi and 4G LTE solutions.
Volks Resources also offers RAN and core deployment works. i.e., equipment engineering furnish and install services, including carrier upgrade, equipment decommissioning, power conversion, disaster recovery, radio and cabinet harvesting, radio software and hardware upgrade, alarm clearing and RF engineering services, which include design, planning, optimization, performance monitoring, call and drive testing. It also provides documentation and management services, such as project management, program management, construction management and database management.
    </p>
    <div class='card-panel col s8 m8 l4 offset-l1 offset-m2 offset-s2 solution grey lighten-4'>
        <div class='solution-image-wrapper'>
          <img class='solution-image' src='../images/antenna.svg' />
        </div>
        <div class='solution-text-wrapper'>
          <h5 class='solution-heading'>Installation, commission, integration and full EF&I</h5>
          <li>Ran Networks</li>
          <li>Microwave</li>
          <li>DAS- Small Cells</li>
        </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l2 m4 offset-m2 offset-s2 solution grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' id='network-connection' src='../images/network-connection (3).svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Site Acquisition, Zoning and Permitting</h5>
        <li>Lease reviews</li>
        <li>New Site Build</li>
        <li>Colocations</li>
        <li>Modifications</li>
      </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l1 m4 offset-m2 offset-s2 solution grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' src='../images/tiles (1).svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Construction and Installation Services</h5>
        <li>Civil work</li>
        <li>Electrical, to include AC and DC</li>
        <li>RAN Networks</li>
        <li>GSM, UMTS, HSPA, LTE</li>
        <li>Generators</li>
        <li>Microwave</li>
      </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l2 m4 offset-m2 offset-s2 solution  grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' src='../images/engineering.svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Engineering and Design Services</h5>
        <li>Backhaul/circuit provisioning</li>
        <li>Feasibility studies</li>
        <li>Needs assessments</li>
        <li>Indoor and outdoor DAS, repeater unit</li>
      </div>
    </div>
    <div class='card-panel col s8 m8 l4 offset-l4 m4 offset-m2 offset-s2 solution  grey lighten-4'>
      <div class='solution-image-wrapper'>
        <img class='solution-image' src='../images/management (1).svg' />
      </div>
      <div class='solution-text-wrapper'>
        <h5 class='solution-heading center-align'>Other Solutions</h5>
        <ul class='col s6'>
        <li>Internet Of things (IoT)</li>
        <li>Big Data Analytics</li>
        <li>Machine Learning</li>
        <li>Artificial Intelligence</li>
        <li>Cloud Solutions</li>
        <li>Node.js Solutions</li>
        </ul>
        <ul class='col s6'>
        <li>Application Development</li>
        <li>Professional Training covering VMware, AWS and Microsoft, Java Script, RStudio, Python</li>
        </ul>
      </div>
    </div>
</div>
