<nav-direct></nav-direct>
<header class='page-header'>

</header>
<div class='row'>
  <h1 class='services-header center-align'>Staffing</h1>
  <h5 class='col s10 offset-s1 staffing-p'>
    Our services are designed to deliver any project or staffing needs your company might face.
    With our experience in the industry, we understand the phases of the projects our clients are working on.
    As a result, Volks Resources can deliver staff  & services for each phase in the life cycle of your projects.
    All of our services are custom-tailored to best fit the needs of your business.
  </h5>
  <div class='col s10 offset-s1'>
    <h5>Our company specializes in recruiting the best candidates for:</h5>
    <ul class='staffing-candidate-list'>
      <li class='specialty-offering'><i class="tiny core-icon material-icons">adjust</i>Oil & Gas</li>
      <li class='specialty-offering'><i class="tiny core-icon material-icons">adjust</i>Telecommunications</li>
      <li class='specialty-offering'><i class="tiny core-icon material-icons">adjust</i>Engineering</li>
      <li class='specialty-offering'><i class="tiny core-icon material-icons">adjust</i>Finance & Accounting</li>
      <li class='specialty-offering'><i class="tiny core-icon material-icons">adjust</i>Technical Work</li>
      <li class='specialty-offering'><i class="tiny core-icon material-icons">adjust</i>Healthcare</li>
    </ul>
    <h3 class='center-align'>Our core service offerings are:</h3>
    <ul class='center-align core-offerings-list'>
      <li class='core-offering'><i class="small material-icons">chevron_right</i>Resourcing</li>
      <li class='core-offering'><i class="small material-icons">chevron_right</i>Contract Staffing</li>
      <li class='core-offering'><i class="small material-icons">chevron_right</i>Contract-to-Permanent</li>
      <li class='core-offering'><i class="small material-icons">chevron_right</i>Permanent Placement</li>
      <li class='core-offering'><i class="small material-icons">chevron_right</i>Short and long term project staffing services</li>
      <li class='core-offering'><i class="small material-icons">chevron_right</i>Turnkey Projects</li>
    </ul>
  </div>
</div>
