<nav-direct></nav-direct>
<div class='page-header col s12'>

</div>
<div class='row'>
  <div class='center-align oil-headings'>
    <h1 class='center-align services-header'>Oil & Gas</h1>
    <p class='services-paragraph'>
      We unite leading oil and gas companies with individuals who thrive on hard
      work, new challenges, and daring adventure.
      Whether personnel needs are at the corporate or front-line level, we provide
      qualified employees in the areas of oilfield stimulation and production,
      engineering, skilled trades, management, administration, and support.
    </p>
  </div>
  <div class='col s12 m5 offset-l1'>
    <p class='oil-paragraph'>
      Whether personnel needs are at the corporate or front-line level, we provide
      qualified employees in the areas of oilfield stimulation and production,
      engineering, skilled trades, management, administration, and support.
    </p>
    <p>
      With our experience in the industry, we understand the phases of the
      projects our clients are working on. As a result, Volks Resources can
      deliver staff for each phase in the life cycle of energy projects:
    </p>
    <div class='col s12 m6 oil-list'>
      <ul>
        <li>Procurement Managers</li>
        <li>Project Managers</li>
        <li>Buyers</li>
        <li>Feed & Detailed Engineering</li>
        <li>Construction</li>
        <li>Hook up & Installation</li>
        <li>Commissioning & Start Up</li>
        <li>Operations & Production</li>
        <li>Maintenance</li>
        <li>Project Services</li>
        <li>Project Management</li>
        <li>Drilling & Completions Management</li>
      </ul>
    </div>
    <div class='col s12 m6 oil-list'>
      <ul>
        <li>Assembly Mechanics</li>
        <li>Bulk Plant Operators</li>
        <li>Clerical Support Personnel</li>
        <li>Construction Personnel</li>
        <li>Diesel Mechanics</li>
        <li>Dispatchers</li>
        <li>Electronic Technicians</li>
        <li>Engineers—all disciplines</li>
        <li>Equipment Operators</li>
        <li>Field Service Technicians</li>
        <li>Gun Loaders</li>
        <li>Engineering and Supervision</li>
      </ul>
    </div>
  </div>
  <div class='col s12 m5 oil-page-pic'>
    <!-- <img class='oil-page-pic' src='../../images/oil_page.jpg' /> -->
  </div>
</div>
