<nav-direct></nav-direct>
<div class='page-header col s12'>

</div>
<div class='telecom-wrapper row'>
  <div class='center-align oil-headings'>
    <h1 class='center-align services-header'>Telecommunications</h1>
    <p class='services-paragraph'>
      Volks Resources supports the Telecom industry, we are innovating the way
      we are placing qualified technical personnel on customer nationwide projects.
      We understand the differences in each different technology and client requirement.
      We utilize an innovative and thorough screening process to evaluate candidates'
      skills to ensure their technical knowledge meets your requirements.
    </p>
  </div>
  <div class='col s12 m5 offset-l1'>
    <p class='oil-paragraph'>
      Volks Resources provides field personnel with a broad range of experience
      within the telecom industry. Our employees' expertise includes:
    </p>
    <div class='col s12 m6 oil-list'>
      <ul>
        <li>Technical Support</li>
        <li>Technical Writer</li>
        <li>Technology Rollouts</li>
        <li>Field Operations</li>
        <li>Field Maintenance</li>
        <li>Engineering</li>
        <li>DAS Engineers</li>
        <li>Site Acquisition</li>
        <li>Construction Management</li>
      </ul>
    </div>
    <div class='col s12 m6 oil-list'>
      <ul>
        <li>Project Coordinators</li>
        <li>Project Management</li>
        <li>Implementation Managers</li>
        <li>Installation</li>
        <li>Integration/Testers</li>
        <li>Network Deployment</li>
        <li>OSP/ISP</li>
        <li>RF Planning</li>
        <li>RF Optimization</li>
        <li>RF Design</li>
      </ul>
    </div>
  </div>
  <div class='col s12 m5 telecom-page-pic-wrapper'>
    <img class='telecom-page-pic col s12' src='../images/telecom_page.jpg' />
  </div>
  <div class='col s6 offset-s3'>
    <h3 class='center-align'>Technology Experience:</h3>
    <ul class='center-align col s6 telecom-list'>
      <li class='telecom-list-item'>Voice/Data/Audio</li>
      <li class='telecom-list-item'>Unified</li>
      <li class='telecom-list-item'>Cabling</li>
      <li class='telecom-list-item'>WLAN</li>
      <li class='telecom-list-item'>Communications</li>
      <li class='telecom-list-item'>PBX</li>
      <li class='telecom-list-item'>Fiber/Structure</li>
      <li class='telecom-list-item'>Broadband</li>
      <li class='telecom-list-item'>SONT/ATM/DWDM</li>
      <li class='telecom-list-item'>Cloud</li>
      <li class='telecom-list-item'>OSS BSS</li>
    </ul>
    <ul class='center-align col s6 telecom-list'>
      <li class='telecom-list-item'>Power/Battery</li>
      <li class='telecom-list-item'>Center Office</li>
      <li class='telecom-list-item'>VOIP</li>
      <li class='telecom-list-item'>Wireless</li>
      <li class='telecom-list-item'>VTC</li>
      <li class='telecom-list-item'>4G Protocol</li>
      <li class='telecom-list-item'>Mobil Enterprise</li>
      <li class='telecom-list-item'>DAS</li>
      <li class='telecom-list-item'>2G/3G/4G/LTE</li>
      <li class='telecom-list-item'>Microwave</li>
    </ul>
  </div>
</div>
