<nav-direct></nav-direct>
<div class='telecom-wrapper row'>
  <div class='center-align oil-headings'>
    <h1 class='center-align services-header'>Telecommunications</h1>
    <p class='services-paragraph'>
      Volks Resources supports the Telecom industry, we are innovating the way
      we are placing qualified technical personnel on customer nationwide projects.
      We understand the differences in each different technology and client requirement.
      We utilize an innovative and thorough screening process to evaluate candidates'
      skills to ensure their technical knowledge meets your requirements.
    </p>
  </div>
  <div class='col s12 m5 offset-l1'>
    <p class='oil-paragraph'>
      Volks Resources provides field personnel with a broad range of experience
      within the telecom industry. Our employees' expertise includes:
    </p>
    <div class='col s12 m6 oil-list'>
      <ul>
        <li>Procurement Managers</li>
        <li>Project Managers</li>
        <li>Buyers</li>
        <li>Feed & Detailed Engineering</li>
        <li>Construction</li>
        <li>Hook up & Installation</li>
        <li>Commissioning & Start Up</li>
        <li>Operations & Production</li>
        <li>Maintenance</li>
      </ul>
    </div>
    <div class='col s12 m6 oil-list'>
      <ul>
        <li>Assembly Mechanics</li>
        <li>Bulk Plant Operators</li>
        <li>Clerical Support Personnel</li>
        <li>Construction Personnel</li>
        <li>Diesel Mechanics</li>
        <li>Dispatchers</li>
        <li>Electronic Technicians</li>
        <li>Engineers—all disciplines</li>
        <li>Equipment Operators</li>
      </ul>
    </div>
  </div>
  <div class='col s12 m5 telecom-page-pic-wrapper'>
    <img class='telecom-page-pic' src='../images/telecom_page.jpg' />
  </div>
</div>
