*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.page-header{
  height: 250px;
  background: url('../images/Technology.jpg') center center ;
  background-size: cover;
}
nav{
  height: 80px;
  box-shadow: none;
}
.page-footer{
  background-color: #169EAF;
}
a.portfolio-link{
  color: #000;
}
.nav-wrapper{
  background-color: #f5791A;
  padding-left: 20px;
  padding-right: 100px;
}
.nav-wrapper li a{
  height: 80px;
  padding-top: 10px;
  font-size: 17px;
}
.nav-wrapper li a:hover{
  color: #F5791A;
  background: #169EAF;
}
.logo{
  margin-top: 120px;
  margin-left: 75px;
  height: 175px;
}
div.header{
  height: 100vh;
  width: 100%;
  background: url('../images/Technology.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}

div.header-bkgrd{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-large{
  text-align: center;
}

.header-large h2{
  margin-top: 0px;
}

.header-p{
  margin-top: 30px;
  width: 55%;
  text-align: center;
  line-height: 30px;
}

img.down-arrow{
  background-color: #fff;
  height: 50px;
  margin-top: 50px;
  border-radius: 100%;
  border: 5px solid #000;
}

.about{
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #168EAF;
}

.about-wrapper{
  min-height: 400px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.about-point{
  min-height: 300px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #fff;
  text-align: center;

}

.no-border{
  border: none;
}

.about-point h6{
  font-size: 20px;
}

img.about-icon{
  height: 150px;
}

.industries{
  padding: 20px;
  text-align: center;
  background-color: #F5791A;
}

.industries h2{
  margin: 0px;
}

div.industries{
  min-height: 375px;
  width: 100%;
  color: #fff;
}
.featured-solutions-wrapper{
  min-height: 375px;
}
.industry-solution{
  height: 100px;
  background-color: #168EAF;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}
.row .col.s3{
  margin-left: 75px;
}
img.indimg{
  height: 200px;
  width: 300px;
}
