*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.page-header{
  height: 250px;
  background: url('../images/Technology3.jpg') center center ;
  background-size: cover;
}
nav{
  height: 80px;
  box-shadow: none;
}
.nav-wrapper{
  background-color: #800020;
  padding-left: 20px;
  padding-right: 100px;
}
.nav-wrapper li a{
  height: 80px;
  padding-top: 10px;
  font-size: 17px;
}
div.header{
  height: 100vh;
  width: 100%;
  background: url('../images/Technology5.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}
div.header-bkgrd{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-large{
  text-align: center;
}
.header-large h2{
  margin-top: 0px;
  text-shadow: 4px 4px 4px black!important;
}
.header-p{
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  width: 55%;
  /*background: rgba(0, 0, 0, 0.5);*/
  text-shadow: 1px 1px 1px black!important;
  padding: 10px;
}

img.down-arrow{
  background-color: #fff;
  height: 50px;
  margin-top: 30px;
  border-radius: 100%;
  border: 5px solid #000;
}

.about{
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #757575;
}
.about-wrapper{
  min-height: 400px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.about-point{
  min-height: 300px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #fff;
  text-align: center;
}
.no-border{
  border: none;
}
.about-point h6{
  font-size: 20px;
}
img.about-icon{
  height: 150px;
}
div.industries{
  min-height: 300px;
  width: 100%;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #800020;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.industry-solution{
  height: 80px;
  width: 25%;
  background-color: #757575;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}
.industry-solution:hover{
  background-color: #169EAE;
}
.page-footer{
  background-color: #169EAE;
}
.portfolio-link{
  color: #fff;
  text-decoration: underline;
}
.portfolio-link:hover{
  color: blue;
}
img.indimg{
  height: 200px;
  width: 300px;
}
