.services-paragraph{
  margin-bottom: 15px;
  font-size: 17px;
}
.services-subhead{
  margin-bottom: 30px;
  margin-top: -5px;
}
.services-offer{
  font-size: 18px;
}
#services-final{
  margin-bottom: 30px;
}
.services-tab-header{
  height: 200px;
}
