.solution{
  height: 240px;
  margin-top: 100px;
  position: relative;
}
.solutions-header{
  margin-top: 80px;
}
.solution-text-wrapper{
  padding-top: 50px;
}
.solution-heading{
  font-size: 18px;
}
.solutions-subhead{
  margin-top: -5px;
  margin-bottom: 30px;
}
.solution li{
  list-style-type:none;
  margin-left: 15px;
}
.solution-image-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  position:absolute;
  top: -50px;
}
.solution-image{
  height: 100px;
  background-color: #F5791A;
  border-radius: 100%;
}
#network-connection{
  background-color: #fff;
}
.telecom-wrapper{
  padding: 50px;
}
.telecom-content-1 p{
  margin: 30px;
}
.solutions-image{
  height: 400px;
}
